//Microsoft Developer Studio generated resource script.
//
#include <winuser.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Bitmaps
//

103                     BITMAP  DISCARDABLE     "logo.bmp"

/////////////////////////////////////////////////////////////////////////////
// Dialogs
//

DisplaySettings DIALOGEX 0, 0, 244, 110
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_STATICEDGE
CAPTION "Stardust configuration"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    CONTROL         103,998,"Static",SS_BITMAP | SS_NOTIFY,0,0,250,50
    LTEXT           "You can play Stardust in a window or in fullscreen mode.",-1, 7, 38, 200, 11,
    LTEXT           "DirectX7 or higher must be installed.",-1, 7, 54, 200, 11,
    LTEXT           "(c) 2004 James Burton",1004, 7, 70, 112, 11,
    DEFPUSHBUTTON   "Fullscreen",1005,              128,  91,  50,  14,  BS_FLAT
    PUSHBUTTON      "Cancel",IDCANCEL,      186,  91,  50,  14,  BS_FLAT
    PUSHBUTTON      "Windowed",1006,              70,  91,  50,  14,  BS_FLAT
END

/////////////////////////////////////////////////////////////////////////////
//
// PING
//

IMG_ABOUT               PING    DISCARDABLE     "about.png"
IMG_INSTR               PING    DISCARDABLE     "instructions.png"
IMG_MAIN                PING    DISCARDABLE     "main.png"
IMG_PLAYERS             PING    DISCARDABLE     "players.png"
IMG_TILES1              PING    DISCARDABLE     "tiles1.png"
IMG_TILES2              PING    DISCARDABLE     "tiles2.png"
IMG_TILES3              PING    DISCARDABLE     "tiles3.png"
IMG_VICTORY             PING    DISCARDABLE     "victory.png"
IMG_WRONG               PING    DISCARDABLE     "wrong.png"
IMG_CURSOR              PING    DISCARDABLE     "cursor.png"
IMG_FONT                PING    DISCARDABLE     "letters.png"
IMG_LEVEL               PING    DISCARDABLE     "level.png"
IMG_LOAD                PING    DISCARDABLE     "load.png"
IMG_BUTTONS             PING    DISCARDABLE     "buttons.png"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

NO_CURSOR               CURSOR  DISCARDABLE     "nocursor.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

APP_ICON                ICON    DISCARDABLE     "icon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// WAVE
//

SND_WRONG               WAVE    DISCARDABLE     "..\\sound\\105_Password_No_Good.wav"
SND_WARP                WAVE    DISCARDABLE     "..\\sound\\205_Death_by_WarpPocket.wav"
SND_VICTORY             WAVE    DISCARDABLE     "..\\sound\\109_Victory.wav"
SND_TELEPORT            WAVE    DISCARDABLE     "..\\sound\\215_Warp.wav"
SND_START               WAVE    DISCARDABLE     "..\\sound\\108_Begin_Playing.wav"
SND_PORTAL              WAVE    DISCARDABLE     "..\\sound\\201_End_of_Level-Portal.wav"
SND_LEVEL               WAVE    DISCARDABLE     "..\\sound\\111_Level_Screen.wav"
SND_LAND                WAVE    DISCARDABLE     "..\\sound\\212_Land.wav"
SND_JIM                 WAVE    DISCARDABLE     "..\\sound\\106_j-i-m.wav"
SND_INFO                WAVE    DISCARDABLE     "..\\sound\\107_Information.wav"
SND_GREENFADE           WAVE    DISCARDABLE     "..\\sound\\211_G'bye_Greenwall.wav"
SND_GREEN               WAVE    DISCARDABLE     "..\\sound\\209_Magic_Green.wav"
SND_GBYE                WAVE    DISCARDABLE     "..\\sound\\214_G'bye_Block.wav"
SND_FIRST_ENTER         WAVE    DISCARDABLE     "..\\sound\\204_First_Entrance_Portal.wav"
SND_FALLWALL            WAVE    DISCARDABLE     "..\\sound\\210_G'bye_Fallwall.wav"
SND_FALL                WAVE    DISCARDABLE     "..\\sound\\110_Death_by_Falling.wav"
SND_ELEVFADE            WAVE    DISCARDABLE     "..\\sound\\202_G'bye_Elevator.wav"
SND_DUD                 WAVE    DISCARDABLE     "..\\sound\\208_Magic_Dud.wav"
SND_COALS               WAVE    DISCARDABLE     "..\\sound\\206_Death_by_Coals.wav"
SND_BYE                 WAVE    DISCARDABLE     "..\\sound\\112_Bye-Bye.wav"
SND_BLUE                WAVE    DISCARDABLE     "..\\sound\\207_Magic_Blue.wav"
SND_BEGIN               WAVE    DISCARDABLE     "..\\sound\\101_Program's_Begun.wav"
SND_ABOUT               WAVE    DISCARDABLE     "..\\sound\\103_About_Screen.wav"
SND_ENTER               WAVE    DISCARDABLE     "..\\sound\\213_Other_Entrance_Portal.wav"
SND_WARPFADE            WAVE    DISCARDABLE     "..\\sound\\203_G'bye_WarpPocket.wav"
